<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1><%= course.title %></h1>

    <div class="card desc-card mt-3">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text"><%= course.description %></p>
      </div>
    </div>

    <div class="card req-card mt-3">
      <div class="card-body">
        <h5 class="card-title">Requirements</h5>
        <p class="card-text"><%= course.requirement %></p>
      </div>
    </div>

    <!-- <div class="card border-warning mb-3">
      <div class="card-header"><h1><%= course.title %></h1></div>
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text"><%= course.description %></p>
        <br />
        <h5 class="card-title">Requirements</h5>
        <p class="card-text"><%= course.requirement %></p>
      </div>
    </div> -->

    <div class="btns mt-3">
      <a href="/courses/<%= course._id %>/edit" class="btn edit-btn col-1"
        >Edit
      </a>
      <form method="POST" action="/courses/<%= course._id %>?_method=DELETE">
        <button class="btn btn-dark offset-3">Delete</button>
      </form>
    </div>
  </div>
</div>
